<!-- W3 sidenav -->
<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
  <a href="/dashboard" class="w3-bar-item w3-button">
      <i class="ti-home"></i> Hem</a>
  <a href="/sortfil" class="w3-bar-item w3-button">
      <i class="ti-view-list-alt"></i> Sortfil</a>
  <a href="/marknadskraft" class="w3-bar-item w3-button">
      <i class="ti-map-alt"></i> Marknadskraft</a>
  <a href="/produktanalys" class="w3-bar-item w3-button">
      <i class="ti-pin"></i> Produktanalys</a>
  <a href="/konkurrentanalys" class="w3-bar-item w3-button">
      <i class="ti-pulse"></i> Konkurrentanalys</a>  
</div>