<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Mathubben</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!--  Fonts and icons     -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/themify-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/svg-styling.css">
    <link rel="stylesheet" href="css/konkurrentanalys/line.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/assets/typeahead.css">
    <link rel="stylesheet" href="css/assets/jquery-ui.min.css">
    <link rel="stylesheet" href="css/konkurrentanalys/tingle/tingle.css">
    <link rel="stylesheet" href="css/konkurrentanalys/konkurrentanalys.css">


<body>

    <!-- DashNav -->
    <nav class="topbar">
        <div class="left-align">
            <button class="w3-button w3-xlarge hamburger" style="background-color: #2c3e50" onclick="w3_open()">☰</button>
        </div>
        <div class="module-type">
            <h4><i class="ti-pulse"></i> Konkurrentanalys</h4>
        </div>

        <!-- Small toolbar -->
        <div id="small-toolbar" style="display:none">
            <div class="split-radio-buttons"></div>
            <div>
                <input type="radio" name="data-type-small" value="Mangd" class="form-radio-small" id="radio-one"><label
                    for="radio-one">Kilon</label>
                <input type="radio" name="data-type-small" value="Kronor" class="form-radio-small" checked><label for="radio-one">Kronor</label>
            </div>
            <div class="split-radio-buttons"></div>
            <div>
                <input type="radio" name="calculation-type-small" value="Total" id="radio-two" class="form-radio-small"
                    checked><label for="radio-two">Totalt</label>
                <input type="radio" name="calculation-type-small" value="PerCapita" class="form-radio-small"><label for="radio-two">PerCapita</label>
            </div>
            <div class="split-radio-buttons"></div>
            <div id="small-slider"></div>
            <div class="split-radio-buttons" id="slider-block"></div>
        </div>
        <!-- END Small TOOLBAR -->

        <!-- <div class="user-logged-in">
            <i class="ti-pulse"></i>
        </div> -->
    </nav>
    <!--TODO Alternativ för liten toolbar -->
    <!-- <div id="close-toolbar" style="display:none">
        <svg height="20" width="20" >
            <line x1="0" y1="0" x2="20" y2="20" style="stroke:#2c3e50; stroke-width:5" />
            <line x1="20" y1="0" x2="0" y2="20" style="stroke:#2c3e50; stroke-width:5" />
        </svg>
    </div>
    <div id="arrow-right"></div> -->
    <div id="small-product-indication-bar">
        <div class="small-product-containers">
            <div class="small-product-container">
                <div class="small-box">
                    <p class="search-color-blob" style="background-color: blue"></p>
                </div>
                <div class="product-small">
                    <span class="product-small-name" id="product-small-name-blue">Skogsbär</span>
                    <br>
                    <span class="product-small-fabrikat" id="product-small-fabrikat-blue">Yoggi</span>
                </div>
            </div>
            <div class="small-product-container">
                <div class="small-box">
                    <p class="search-color-blob" style="background-color: red"></p>
                </div>
                <div class="product-small">
                    <span class="product-small-name" id="product-small-name-red">Jordgubb</span>
                    <br>
                    <span class="product-small-fabrikat" id="product-small-fabrikat-red">Yoggi</span>
                </div>
            </div>
        </div>
    </div>

    <%- include partials/sidebar.ejs %>
    <div id="produkt-search-toolbar" class="margin-toolbar">
        <div class="nav-container">
            <!-- Stor TOOLBAR -->
            <div class="grid-produkt">
                <div class="search-box-container">
                    <p class="search-color-blob" style="background-color: blue"></p>
                    <div data-key="blue" class="trigger-button" style="border: 2px solid #ccc; padding: 10px;border-radius: 7px; cursor: pointer;color: dimgray">Lägg
                        till Produkt</div>
                    <p class="search-color-blob" style="background-color: red"></p>
                    <div data-key="red" class="trigger-button" style="border: 2px solid #ccc; padding: 10px;border-radius: 7px; cursor: pointer;color: dimgray">Lägg
                        till Produkt</div>
                    <div class="addition-box">
                        <div class="plus-icon">
                            <p><i class="fa fa-plus-circle addition" aria-hidden="true"></i> Lägg till fler artiklar</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Stor TOOLBAR  -->
        </div>
        <div class="grid-choice-bar">
            <div id="slider"></div>
            <div class="data-type radio-box">
                <div class="headline" style="text-align:center">Data-typ</div>
                <input type="radio" name="data-type" value="Mangd" id="radio-one" class="form-radio"><label for="radio-one">Kilon</label>
                <input type="radio" name="data-type" value="Kronor" class="form-radio" checked><label for="radio-one">Kronor</label>
            </div>
            <div class="calculation-type radio-box">
                <div class="headline" style="text-align:center">Räknesätt</div>
                <input type="radio" name="calculation-type" value="Total" id="radio-two" class="form-radio" checked><label
                    for="radio-two">Totalt</label>
                <input type="radio" name="calculation-type" value="PerCapita" class="form-radio"><label for="radio-two">PerCapita</label>
            </div>
            <div class="calculation-type radio-box" id="refresh-box">
                <div class="headline" style="text-align:center"><i class="fa fa-refresh" aria-hidden="true" style="font-size: 1.5em"></i> <br>Ny sökning</div>
                
            </div>
        </div>
    </div>

    <section class="main-container">
        <div class="charts-container">
            <div class="chart-container map-container">
                <div class="toprow">
                    <div class="toprow-title">
                        <h4>Geografisk jämförelse över artiklar <span class="text-spinner"></span></h4>
                        
                    </div>
                </div>
                <div id="map-square">
                    <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="map"></svg>
                </div>
            </div>
            <div class="topchart-container">
                <div class="topchart-container-individual kommun-container">
                    <div class="toprow">
                        <div class="toprow-title">
                            <h4>Kommun/län-översikt <strong><span id="kommun-chart-name"></span></strong><span class="text-spinner"></span></h4>
                        </div>
                    </div>
                    <div class="svg-container-kommun">
                        <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="kommun-map">
                        </svg>
                    </div>
                </div>
                <div class="topchart-container-individual pie-container">
                    <div class="toprow">
                        <div class="toprow-title">
                            <h4>Översikt över <strong><span id="pie-chart-name">Sverige</span></strong><span class="text-spinner"></span></h4>
                        </div>
                    </div>
                    <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="pie">
                    </svg>
                </div>
                <div class="topchart-container-individual line-container">
                    <div class="toprow">
                        <div class="toprow-title">
                            <h4>Översikt över <strong><span id="line-chart-name">Sverige</span></strong><span class="text-spinner"></span></h4>
                        </div>
                    </div>
                    <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="line">
                    </svg>
                </div>
            </div>
        </div>
        <!-- <div class="chart-container bar-container">
            <div class="barText"></div>
            <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="bar">
            </svg>
        </div> -->
    </section>
    <div class="tooltip"></div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="copyright pull-right">
                &copy;
                <script>
                    // document.write(new Date().getFullYear())
                </script>, DOG group</a>
            </div>
        </div>
    </footer>
</body>

<!-- ASSETS -->
<script src="/src/d3.v4.js"></script>
<script src="/src/topojson.js"></script>
<script src="js/assets/jquery-3.3.1.min.js"></script>
<script src="js/assets/jquery-ui.min.js"></script>
<script src="js/assets/typeahead.js/bloodhound.min.js"></script>
<script src="js/assets/typeahead.js/typeahead.bundle.min.js"></script>
<script src="js/assets/typeahead.js/typeahead.jquery.min.js"></script>
<script src="js/helpers.js"></script>
<script src="js/konkurrentanalys/tingle/tingle.js"></script>
<script src="js/konkurrentanalys/slider.js"></script>
<!-- <script src="js/linedata.js"></script> -->
<script src="js/kommunnamn.js"></script>
<script src="js/konkurrentanalys/map_konkurrentanalys.js"></script>
<script src="js/konkurrentanalys/line_konkurrentanalys.js"></script>
<script src="js/konkurrentanalys/pie_konkurrentanalys.js"></script>
<script src="js/konkurrentanalys/toolbox_mirror.js"></script>
<script src="js/konkurrentanalys/app_konkurrentanalys.js"></script>
<script src="js/konkurrentanalys/konkurrentanalys.js"></script>
<script src="js/konkurrentanalys/tingle/tingleInit.js"></script>
<script src="js/typeahead.js"></script>
<script src="js/konkurrentanalys/search_box_handler.js"></script>
<script src="js/konkurrentanalys/small_toolbar_handler.js"></script>

<script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>

</html>