<% include ./partials/header.ejs %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script> 

    <body>

        <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
            <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
            <a href="/" class="w3-bar-item w3-button">Hem</a>
            <a href="#" class="w3-bar-item w3-button">Sortfil</a>
            <a href="/marknadskraft" class="w3-bar-item w3-button">Marknadskraft</a>
            <a href="#" class="w3-bar-item w3-button">Konkurrentanalys</a>
        </div>
        <div id="navd3">
            <div class="left-align">
                <button class="w3-button w3-xlarge hamburger" style="background-color: #2c3e50" onclick="w3_open()">☰</button>
            </div>
            <div class="center-align">
                <h1>Marknadskraft Dashboard</h1>
            </div>

            <div class="nav-container">

                <div class="grid-even">
                    <p>
                        Välj vad du vill analysera
                        <br>
                        <input type="radio" name="data-type" value="Mängd" checked>
                        <label>Kilon</label>
                        <input type="radio" name="data-type" value="Kronor">
                        <label>Kronor</label>
                    </p>
                </div>

                <div class="grid-even">
                    <p>
                        Välj hur du vill se datan
                        <br>
                        <input type="radio" name="calculation-type" value="Total" checked>
                        <label>Totalt</label>
                        <input type="radio" name="calculation-type" value="PerCapita">
                        <label>Per Capita</label>
                    </p>
                </div>

                <div class="grid-even">
                    <p>
                        Välj varugrupp
                        <br>
                        <select name="artikel" id="varugrupp">
                            <% for(i=0; i < produktgruppUnique.length; i++) { %>
                                <option value="<%= produktgruppUnique[i] %>">
                                    <%= produktgruppUnique[i] %>
                                </option>
                                <% } %>
                        </select>
                    </p>
                </div>
                <div class="grid-even">
                    <p id="year-val">Välj år
                        <br>
                        <input id="year" type="range" step="1">
                    </p>
                </div>
                <div class="grid-even" id="renderGraph">
                    <p> Rita
                        <br> grafer! </p>
                </div>
            </div>

        </div>
        </div>
        <section class="container">
            <div class="chart-title">
                <h2 id="title">Gör dina val för att skapa grafer</h2>
            </div>
            <div class="grid">
                <div class="chart-container">
                    <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="map">
                    </svg>
                </div>
                <div class="chart-container right">
                    <!-- <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="pie">
                    </svg> -->
                    <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="bar">
                    </svg>
                </div>
            </div>
        </section>
        <div class="tooltip"></div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="http://www.creative-tim.com/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, DOG group</a>
                </div>
            </div>
        </footer>
        </div>
        </div>
    </body>

    <script src="/src/d3.v4.js"></script>
    <script src="/src/topojson.js"></script>
    <script src="js/map.js"></script>
    <script src="js/bar.js"></script>
    <script src="js/app.js"></script>
    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
    </script>

    <!--   Core JS Files   -->
    <!-- <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script> -->
    <!-- <script src="assets/js/bootstrap.min.js" type="text/javascript"></script> -->

    <!--  Checkbox, Radio & Switch Plugins -->
    <!-- <script src="assets/js/bootstrap-checkbox-radio.js"></script> -->

    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
    <!-- <script src="assets/js/paper-dashboard.js"></script> -->

    </html>