<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Mathubben</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!--  Fonts and icons     -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/themify-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/svg-styling.css">
    <link rel="stylesheet" href="css/produktanalys/line.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/assets/typeahead.css">
    <link rel="stylesheet" href="css/assets/jquery-ui.min.css">
    <link rel="stylesheet" href="css/produktanalys/tingle/tingle.css">
    <link rel="stylesheet" href="css/produktanalys/produktanalys.css">


<body>

    <!-- DashNav -->
    <nav class="topbar">
        <div class="left-align">
            <button class="w3-button w3-xlarge hamburger" style="background-color: #2c3e50" onclick="w3_open()">☰</button>
        </div>
        <div class="module-type">
            <h4><i class="ti-pin"></i> Produktanalys</h4>
        </div>
        <!-- <div class="user-logged-in">
            <i class="ti-pulse"></i>
        </div> -->
    </nav>

    <%- include partials/sidebar.ejs %>
    <!-- TODO fixa liten toolbar -->
    <!-- <div id="scrolled-produkt-search-toolbar">
        <div>
            <input type="radio" name="data-type" value="Mängd" id="radio-one"><label for="radio-one">Kilon</label>
            <input type="radio" name="data-type" value="Kronor" checked><label for="radio-one">Kronor</label>
        </div>
        <div>
            <input type="radio" name="calculation-type" value="Total" id="radio-two"  checked><label for="radio-two">Totalt</label>
            <input type="radio" name="calculation-type" value="PerCapita"><label for="radio-two">PerCapita</label>
        </div>
        <div id="smallslider"></div>
    </div> -->
    <div id="produkt-search-toolbar">
        <div class="nav-container">
            <div class="grid-produkt">
                <div class="search-box-container">
                    <!-- <p class="search-color-blob" style="background-color: blue"></p> -->
                    <div data-key="blue" class="trigger-button" style="border: 2px solid #ccc; padding: 10px;border-radius: 7px; cursor: pointer;color: dimgray">Lägg till Produkt</div>
                </div>
                <!-- <div class="search-box-container">
                    <div class="product-search-container" id="searchBox-1">
                        <p class="search-color-blob" style="background-color: blue"></p>
                        <input class="typeahead" type="text" placeholder="Sök efter artikel">
                    </div>
                    <div class="product-search-container" id="searchBox-2">
                        <p class="search-color-blob" style="background-color: red"></p>
                        <input class="typeahead" type="text" placeholder="Sök efter artikel">
                    </div>
                    -->
            </div>
        </div>
        <div class="grid-choice-bar">
            <div id="slider"></div>
            <div class="data-type radio-box">
                    <div class="headline" style="text-align:center">Data-typ</div>
                    <input type="radio" name="data-type" value="Mangd" id="radio-one" class="form-radio"><label for="radio-one">Kilon</label>
                    <input type="radio" name="data-type" value="Kronor" class="form-radio" checked><label for="radio-one">Kronor</label>
                </div>
            <div class="calculation-type radio-box">
                    <div class="headline"  style="text-align:center">Räknesätt</div>              
                <input type="radio" name="calculation-type" value="Total" id="radio-two" class="form-radio" checked><label for="radio-two">Totalt</label>
                <input type="radio" name="calculation-type" value="PerCapita" class="form-radio"><label for="radio-two">PerCapita</label>
            </div>
        </div> 
    </div>


    <section class="main-container">
        <div class="charts-container">
            <div class="chart-container map-container">
                <div class="toprow">
                    <div class="toprow-title">
                        <h4>Geografisk jämförelse över artiklar</h4>
                    </div>
                </div>
                <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="map">
                </svg>
            </div>
            <div class="chart-container line-container">
                    <div class="toprow">
                            <div class="toprow-title">
                                <h4>Översikt över <strong><span id="line-chart-name">Sverige</span></strong></h4>
                            </div>
                        </div>
                <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="line">
                </svg>
            </div>
        </div>
        <!-- <div class="chart-container bar-container">
            <div class="barText"></div>
            <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="bar">
            </svg>
        </div> -->
    </section>
    <div class="tooltip"></div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="copyright pull-right">
                &copy;
                <script>
                    // document.write(new Date().getFullYear())
                </script>, DOG group</a>
            </div>
        </div>
    </footer>
</body>

<!-- ASSETS -->
<script src="/src/d3.v4.js"></script>
<script src="/src/topojson.js"></script>
<script src="js/assets/jquery-3.3.1.min.js"></script>
<script src="js/assets/jquery-ui.min.js"></script>
<script src="js/assets/typeahead.js/bloodhound.min.js"></script>
<script src="js/assets/typeahead.js/typeahead.bundle.min.js"></script>
<script src="js/assets/typeahead.js/typeahead.jquery.min.js"></script>
<script src="js/produktanalys/tingle/tingle.js"></script>
<script src="js/produktanalys/slider.js"></script>
<!-- <script src="js/linedata.js"></script> -->
<script src="js/kommunnamn.js"></script>
<script src="js/produktanalys/map_produktanalys.js"></script>
<script src="js/produktanalys/line_produktanalys.js"></script>
<script src="js/produktanalys/app_produktanalys.js"></script>
<script src="js/produktanalys/konkurrentanalys.js"></script>
<script src="js/produktanalys/tingle/tingleInit.js"></script>
<script src="js/typeahead.js"></script>
<!-- <script src="js/produktanalys/search_box_handler.js"></script> -->
<script src="js/produktanalys/toolbox_mirror.js"></script>


<script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>

</html>