<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mathubben</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
        rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="assets/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <link rel="icon" href="img/favicon.png" type="image/vnd.microsoft.icon" />
    
    <!-- Custom styles for this template -->
    <link href="css/landing/creative.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Mathubben</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Om oss</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Erbjudande</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/login"><i class="fa fa-user" aria-hidden="true"></i> Logga in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>Statistik på era villkor</strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-faded mb-5">Med mathubben får ni lättillgänglig och intuitiv statistik baserad på stora dataset</h2>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">Mer info</a>
                </div>
            </div>
        </div>
    </header>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Om Mathubben</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-database text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Data</h3>
                        <p class="text-muted mb-0">På Mathubben samlar vi in statistik ifrån samtliga kommuner och via våra algoritmer
                        kopplar vi ihop datan för att ge er en helhetsbild från hur era produkter utvecklat sig
                        historiskt och står sig mot konkurrenterna.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Intuitivt</h3>
                        <p class="text-muted mb-0">För oss är det viktigt att statistiken blir lättillgänglig och användarvänlig. Vi har 
                        därför lagt ner möda och stort besvär på att er upplevelse blir positiv och att datan
                        kan användas av er som beslutsunderlag.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio -->
    <section id="portfolio">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 col-sm-12">
                    <div class="portfolio-box" data-toggle="modal" data-target=".bd-example-modal-lg-map">
                        <img class="img-fluid" src="img/header.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-category text-faded">
                                    <i class="project-icon fa fa-search-plus fa-2x" aria-hidden="true"></i><br>
                                    <p class="project-text">Kartgrafer</p>
                                </div>
                                <!-- <div class="project-name">
                                            Project Name
                                        </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="portfolio-box" data-toggle="modal" data-target=".bd-example-modal-lg-history">
                        <img class="img-fluid" src="img/header2.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    <i class="project-icon fa fa-search-plus fa-2x" aria-hidden="true"></i><br>
                                    <p class="project-text">Historisk utveckling</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">Kontakta oss!</h2>
                    <hr class="my-4">
                    <p class="mb-5">Redo att se vad vi kan göra för er, kontakta oss för att testa tjänsten och utvärdera vårt erbjudande</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center">
                    <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                    <p>0765-770429</p>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                    <p>
                        <a href="mailto:mathubben@outlook.com">mathubben@outlook.com</a>
                    </p>
                </div>
            </div>
        </div>
    </section>



    <!-- Large modal -->
    <div class="modal fade bd-example-modal-lg-map" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Kartgrafer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="modal-image" src="img/header.jpg" alt="" srcset="">
                </div>
                <div class="modal-footer mr-auto">
                    <p>Våra kartgrafer ger er känsla för hur era produkter står sig geografiskt</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Large modal -->
    <div class="modal fade bd-example-modal-lg-history" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Historisk utveckling</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="modal-image" src="img/header2.jpg" alt="" srcset="">
                </div>
                <div class="modal-footer mr-auto">
                    <p>Genom att presentera datan med historisk utveckling kan ni följa upp hur era produkter har utvecklats
                        och sålts</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/landing/creative.js"></script>

</body>

</html>