<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<link rel="stylesheet" href="jquery-ui.min.css">
<style>

  #slider label {
    position: absolute;
    width: 20px;
    margin-left: -20px;
    text-align: center;
    margin-top: 20px;
}

/* below is not necessary, just for style */
#slider {
    width: 25%;
    margin: 2em auto;
}

</style>



<body>
  <div id="slider"></div>
</body>

<script src="./jquery-3.3.1.min.js"></script>
<script src="jquery-ui.min.js"></script>

<script>
  var slidertoggle = $( "#slider" )
  
  slidertoggle.slider({
    value: 2015,
    min: 2015,
    max: 2017,
    step: 1
})
.each(function() {

  //
  // Add labels to slider whose values 
  // are specified by min, max and whose
  // step is set to 1
  //

  // Get the options for this slider
  var opt = $(this).data().uiSlider.options;
  
  // Get the number of possible values
  var vals = opt.max - opt.min;
  
  // Space out values
  for (var i = 0; i <= vals; i++) {
    var year = i+2015
    var el = $('<label>'+(year)+'</label>').css('left',(i/vals*100)+'%');
    $( "#slider" ).append(el);
  }
  
});

slidertoggle.on("change",function(){
  var slidervalue = $( "#slider" ).slider( "option", "value" );
  console.log(slidervalue)
})

</script>
</html>

